option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: "/"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/"
    MatcherHTTPCode: "200"
    DeregistrationDelay: "20"
    HealthCheckInterval: "15"
    HealthCheckTimeout: "5"
    HealthyThresholdCount: "3"
    UnhealthyThresholdCount: "5"
    Port: "8080"
    Protocol: "HTTP" 